.top {
  top: 0; }

.hidden {
  top: 100vh; }

.app-container {
  position: absolute;
  background-color: #152f47;
  background-size: cover;
  width: 100vw;
  height: 100%;
  transition: all .5s ease; }
  .app-container .darken-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #070F16;
    opacity: .75;
    z-index: 0; }
  .app-container .side-bar {
    position: relative;
    display: inline-block;
    float: left;
    width: 50px;
    height: 100%;
    left: 0;
    background-color: #070F16;
    opacity: .63;
    z-index: 100; }
  .app-container .wrap {
    display: inline-block;
    position: relative;
    width: calc(100% - 50px);
    height: 100%;
    opacity: 1; }
  .app-container #home {
    position: absolute;
    top: 2vw;
    left: 2vw;
    color: #2FA1AE;
    cursor: pointer;
    transition: all .5s ease;
    z-index: 100; }
  .app-container #home:hover {
    color: #44becc; }
